
<div class="container">

    <div class="row">

        <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">

            <footer class="footer">
                <small>
                    &copy;
                    <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>
                    <a href="{{ site.baseurl }}/">{{ site.author.name }}</a> • <a target="_blank" rel="nofollow" href="//github.com/mayeco/mayeco.github.io#licencias">Algunos Derechos Reservados</a><br/>
                    <a href="{{ site.baseurl }}/blog.html">Blog Archives</a>
                </small>
            </footer>


        </div>

    </div>

</div>
