<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  {% capture title %}{% if page.seo.title %}{{ page.seo.title | markdownify | strip_html | strip_newlines }}{% elsif page.title %}{{ page.title | markdownify | strip_html | strip_newlines }} · {{ site.title }}{% endif %}{% endcapture %}

  <title>{{ title }}</title>
  <meta name="title" content="{{ title }}">

  {% if page.seo.description %}
    <meta name="description" content="{{ page.seo.description | markdownify | strip_html | strip_newlines }}">
  {% elsif post.excerpt %}
    <meta name="description" content="{{ post.excerpt | markdownify | strip_html | strip_newlines | truncate: 160 }} · {{ site.title }}">
  {% endif %}

  {% if page.seo.robots %}
    <meta name="robots" content="{{ page.seo.robots }}">
  {% endif %}

  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">

  <!-- CSS -->
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,600,800,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
</head>
