{% if site.related_posts != empty %}
<div class="row related-post">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
                <ul class="post-list">
                    {% for post in site.related_posts limit:5 %}
                    {% unless post.next %}
                    <h2>{{ post.date | date: '%Y' }}</h2>
                    {% else %}
                    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
                    {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                    {% if year != nyear %}
                    <h2>{{ post.date | date: '%Y' }}</h2>
                    {% endif %}
                    {% endunless %}

                    <li><h3><small>{{ post.date | date:"%b" }}</small> - <a href="{{ post.url }}">{% if post.display_title %}
                        {{ post.display_title }}
                        {% else %}
                        {{ post.title }}
                        {% endif %}</a></h3></li>
                    {% endfor %}
                </ul>
    </div>
</div>
{% endif %}