---
layout: default
---

<article class="archive single">
  <h1 class="post-title category-title">{{ page.title }}</h1>
  {% include home_icon.html %}
</article>

<ul>
  {% for post in site.posts %}

    {% unless post.next %}
      <h3>{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3>{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}

    <li>{{ post.date | date:"%b" }} <a href="{{ post.url }}">{% if post.display_title %}
      {{ post.display_title }}
      {% else %}
      {{ post.title }}
      {% endif %}</a></li>
  {% endfor %}
</ul>
