---
layout: default
---
<!doctype html>
<html lang="en">

<head>

  {% include head_meta.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/general.css">

  <meta name="date" content="{{ page.date | date_to_xmlschema }}" scheme="YYYY-MM-DD">

</head>

<body>

{% if page.hero_image %}
  {% include hero_image.html %}
{% endif %}

<div class="container post">

  <article class="row">

    {% if page.hero_image == null %}
      <header class="col-xs-12 col-md-8 col-md-offset-2 text-center page-header">
        <h1>{{ page.title }}</h1>
      </header>
    {% endif %}

    <div class="col-xs-12 col-md-8 col-md-offset-2 render-content">
      {{ content }}
    </div>

  </article>

{% if page.extras.nocategory == null %}
  {% include category_tag.html %}
{% endif %}

{% if page.extras.norelated == null %}
  {% include related_post.html %}
{% endif %}

</div>

{% if page.extras.nofooter == null %}
  {% include footer.html %}
{% endif %}

{% include footer_js.html %}
<script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/1.2.1/anchor.min.js" charset="utf-8"></script>
<script>
  anchors.options.placement = 'left';
  anchors.add('.render-content h2, .render-content h3, .render-content h4, .render-content h5, .render-content h6');
</script>
</body>
</html>
